<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>51_ServletsV2</display-name>
  <welcome-file-list>
    <welcome-file>InputForm.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PrimerServlets</display-name>
    <servlet-name>PrimerServlets</servlet-name>
    <servlet-class>servlets.PrimerServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimerServlets</servlet-name>
    <url-pattern>/PrimerServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SegundoServlet</display-name>
    <servlet-name>SegundoServlet</servlet-name>
    <servlet-class>servlets.SegundoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SegundoServlet</servlet-name>
    <url-pattern>/SegundoServlet</url-pattern>
  </servlet-mapping>
</web-app>